.contacts {
  padding-top: 47px;

  @media (min-width: @desktop-width) {
    padding-top: 120px;
  }

  &__wrapper {
    padding: 0 10px;

    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 400px 1fr;
      column-gap: 68px;
      width: 1140px;
      padding: 0;
      margin: 0 auto;
    }
  }

  &__img {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }


  &__text {
    margin: 0;
    padding: 20px 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    row-gap: 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    row-gap: 27px;

    @media (min-width: @desktop-width) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content);
      column-gap: 25px;
    }
  }

  &__group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;

    @media (min-width: @desktop-width) {
      &--column {
      grid-column: span 2;
    }
    }
  }

  &__label {
    position: absolute;
    display: block;
    top: -9px;
    left: 12px;
    padding: 0 8px;
    background-color: #ffffff;
  }

  &__input,
  &__area {
    padding: 14px 20px 13px 20px;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
}

.button--contacts {
  justify-self: center;

  @media (min-width: 768px) {
    justify-self: start;
  }
}
