.portfolio {
  padding-top: 47px;

  &__wrapper {
    padding: 0 10px;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 20px;
    margin: 0;
    padding: 20px 0 0 0 ;
    list-style-type: none;
  }

  &__img {
    width: 100%;
  }
}
