.socials-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--menu {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__item:not(:last-child) {
    margin-right: 11px;
  }

  &__icon:hover {
    color: @yellow;
  }

  &__icon--menu:hover {
    color: #ffffff;
  }
}
