.button {
  display: inline-block;
  position: relative;
  top: 0;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  border: none;
  background: #ffa501;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 0.5s ease 0s;
  cursor: pointer;

  &:hover {
    background-color: #bb7d0a;
  }

  &:active {
    top: 3px;
  }
}
